body{
	font-family: 'Catamaran', sans-serif;
	background-image: url(maalaus.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  	background-size: cover;
    background-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0px;
    position: relative; 

}


/* login sivu alkaa tästä */

#header1 h3 {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: transparent;
	font-family: 'Catamaran', sans-serif;
	color: white;
	font-size: clamp(1rem, 6vw, 5rem);
	text-shadow: 2px 2px 3px black, 0px 0px 10px #3C2F30;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;

}


#login {
	margin-left: 10;
	text-align: center;
	background-color: white;
	max-width: 55%;
	max-height: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
	border-radius: 5px 5px;
}

#login b{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 2vw, 2rem);
	color: black;
	text-align: center;
}

#login button{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 2vw, 2rem);
	background-color: #333;
	color: white;
  	padding: 15px 30px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
	border: 1px #356B9C;
	border-radius: 5px 5px;
}

#login button:hover{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 2vw, 2rem);
	background-color: #356B9C;
	color: white;
  	padding: 15px 30px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
}

#login c{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 2vw, 2rem);
	color:black;
}

#login a{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 2vw, 2rem);
	color: black;
	text-align: center;
	padding-bottom: 10%;
}



/* etusivu alkaa tästä */

#header1 h2 {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: transparent;
	font-family: 'Catamaran', sans-serif;
	color: white;
	font-size: clamp(1rem, 8vw, 5rem);
	text-shadow: 2px 2px 3px black, 0px 0px 10px #3C2F30;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: 20%;
	padding-left: 20%;
}


/* navigointi palkki */

#nav ul {
	width: 100%;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 5vw, 2rem);
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
	background-color: #333;
}

#nav li {
	float: center;
}

#nav li a {
    display: block;
	color: white;
	text-align: center;
    padding: 12px 12px;
	text-decoration: none;

}

#nav li a:hover {
	background-color: #356B9C;
}


/* leipäteksti */

#row1 {
	background-color: #f0f0f0;
	padding: 0%;
	margin: 0%;
	position: relative;
	float: center; 
	box-align: center;
	width: 100%;
	overflow: hidden;
}

#row1 p{
	padding: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 1.5rem);
	padding-top: 1%;
	padding-bottom: 0;
	margin-left: 8%;
	text-align: left;
	font-weight: normal;
}


#row1 h1{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1.2rem, 4vw, 2rem);
	color: #356B9C;
	padding-top: 6%;
	padding-bottom: 1%;
	margin-left: 10%;
	text-align: left;
	display: inline-block;
}


/* työvuorolista */

#schedule {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(0.7rem, 3vw, 1.5rem);
	border-collapse: collapse;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
  }

 #schedule td, #schedule th {
	border: 1px solid #ddd;
	padding: 7px;
  }
  
#schedule th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #356B9C;
	color: white;
}
	
#schedule td{
	text-align: center;
}
/*henkilön omat tiedot*/

#tiedot {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(0.7rem, 3vw, 1.5rem);
	border-collapse: collapse;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#tiedot th{
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: left;
	font-size: clamp(1.2rem, 4vw, 2rem);
	color: #356B9C;
}

#tiedot td{
	padding: 7px;
	text-align: left;
}

#tdoikea {
	width: 65%;
}



/* tietojenmuokkauspainike */

#change {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-left: 10px;
}

#change h1{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 1.5rem);
	margin-left: 13%;
}

#info {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(0.7rem, 3vw,1.2rem);
	background-color: #356B9C;
	color: white;
  	padding: 10px 10px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
	margin-left: 0%;
}

#info:hover{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(0.7rem, 3vw,1.2rem);
	background-color: white;
	color: black;
	padding: 10px 10px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
}


/* tietojenmuokkaus */

.modal-title{

	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 1.5rem);
	font-weight: bold;
	padding-left: 5%;

}

#tietojenmuuttaminen {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 3vw, 1.5rem);
	font-weight: normal;
	padding-left: 5%;
}

#nappi{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 1.5rem);
	background-color: #356B9C;
	color: white;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
	border: 1px #356B9C;
	  
}

#nappi:hover{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 1.5rem);
	background-color: white;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 1px #356B9C;
}

#check1{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 1.5rem);
	text-align: center;
}
 

/* tiimin nimi */

#footer {
	background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin-left: initial;
	float: center;
	text-align: center;
}