body{
	font-family: 'Catamaran', sans-serif;
	width: 100%;
	background-image: url(maalaus.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  	background-size: cover;
    background-height: 100%;
    padding: 0;
    margin: 0;
    position: relative; 
}


/* login sivu alkaa tästä */

#header1 h3 {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: transparent;
	font-family: 'Catamaran', sans-serif;
	color: white;
	font-size: clamp(1rem, 6vw, 6rem);
	text-shadow: 2px 2px 3px black, 0px 0px 10px #3C2F30;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;

}


#login {
	margin-left: 10;
	text-align: center;
	background-color: white;
	max-width: 55%;
	max-height: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
	border-radius: 5px 5px;
}

#login b{
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;;
	color: black;
	text-align: center;
}

#login button{
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;
	background-color: #333;
	color: white;
  	padding: 15px 30px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
	border: 1px #356B9C;
	border-radius: 5px 5px;
}

#login button:hover{
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;
	background-color: #356B9C;
	color: white;
  	padding: 15px 30px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
}

#login c{
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;
	color:black;
}

#login a{
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;
	color: black;
	text-align: center;
	padding-bottom: 10%;
}



/* etusivu alkaa tästä */

#header1 h2 {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: transparent;
	font-family: 'Catamaran', sans-serif;
	color: white;
	font-size: clamp(1rem, 8vw, 6rem);
	text-shadow: 2px 2px 3px black, 0px 0px 10px #3C2F30;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: 20%;
	padding-left: 20%;
}


/* navigointi palkki */

#nav ul {
	width: 100%;
	background-color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: clamp(1rem, 5vw, 3rem);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #333;
}

#nav li {
	float: center;
}

#nav li a {
    display: block;
	color: white;
	text-align: center;
    padding: 14px 14px;
	text-decoration: none;

}

#nav li a:hover {
	background-color: #356B9C;
}


/* leipäteksti */

#row1 {
	background-color: #f0f0f0;
	padding: 3%;
	margin: 0;
	position: relative;
	float: left; 
	box-align: left;
	width: 100%;
	margin-left: initial;
}

#row1 p{
	padding: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	padding-top: 2%;
	padding-bottom: 0;
	margin-left: 8%;
	text-align: left;
	font-weight: normal;
}

#vakio p{
	padding: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	padding-top: 2%;
	padding-bottom: 0;
	margin-left: 8%;
	text-align: left;
	font-weight: bold;
}


#row1 h1{
	font-family: 'Catamaran', sans-serif;
	font-size: clamp(1rem, 6vw, 5rem);
	padding-top: 6%;
	padding-bottom: 3%;
	margin-left: 10%;
	text-align: left;
	display: inline-block;
}


/* työvuorolista */

#schedule {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 3vw, 2rem);
	border-collapse: collapse;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
  }

 #schedule td, #schedule th {
	border: 1px solid #ddd;
	padding: 7px;
  }
  
#schedule th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #356B9C;
	color: white;
}
	
#schedule td{
	text-align: center;
}


/* tietojenmuokkauspainike */

#change {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-left: 20px;
}

#change h1{
	font-family: 'Catamaran', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	margin-left: 13%;
}

#info {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	background-color: #356B9C;
	color: white;
  	padding: 14px 14px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
	margin-left: 10%;
}

#info:hover{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	background-color: white;
	color: black;
	padding: 14px 14px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
	border: 1px white;
}


/* tietojenmuokkaus */

.modal-title{

	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	font-weight: bold;
	padding-left: 20%;

}

#tiedot {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	font-weight: normal;
	padding-left: 20%;
}

#nappi{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	background-color: #356B9C;
	color: white;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
	border: 1px #356B9C;
	  
}

#nappi:hover{
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 4vw, 3rem);
	background-color: white;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 1px #356B9C;
}


 

/* tiimin nimi */

#footer {
	background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin-left: initial;
	float: center;
	text-align: center;
}